In [39]:
import backtrader as bt
import backtrader.feeds as btfeeds
import pandas as pd
import os

In [40]:
path = os.getcwd()
# print(path)

path = '../data/ETH_OHLCV.csv'
temp = os.path.join(os.path.dirname('__file__'), path)
path = os.path.normpath(temp)

print(path)

../data/ETH_OHLCV.csv

In [47]:
df = pd.read_csv(path)
df.rename(columns={'Price': 'Close'}, inplace=True)
df.drop(columns='Change %')

            Date   Close    Open    High     Low    Vol.
0    09-09, 2020  351.10  337.46  358.33  331.12  14.07M
1    09-08, 2020  337.46  352.06  355.69  326.66  18.98M
2    09-07, 2020  352.06  353.49  357.33  325.47  21.69M
3    09-06, 2020  353.49  334.91  358.09  316.69  20.13M
4    09-05, 2020  334.91  385.94  394.12  314.13  35.32M
..           ...     ...     ...     ...     ...     ...
759  08-12, 2018  318.18  317.63  327.51  314.71   1.52M
760  08-11, 2018  317.59  331.78  332.52  305.19   2.16M
761  08-10, 2018  331.81  363.33  365.36  326.67   1.74M
762  08-09, 2018  363.34  355.48  369.74  351.07   1.42M
763  08-08, 2018  355.44  378.29  380.15  348.98   2.05M

[764 rows x 6 columns]

In [48]:
df['Vol.']= df['Vol.'].str.replace('M','')

In [49]:
def func(strings):
    if ', 2020' in strings:
        strings =  strings.replace(', 2020', '')
        strings = '2020-' + strings
    elif ', 2019' in strings:
        strings =   strings.replace(', 2019', '')
        strings = '2019-' + strings
    elif ', 2018' in strings:
        strings =  strings.replace(', 2018', '')
        strings = '2018-' + strings
    return strings

In [50]:
df["Date"] = df["Date"].map(func)
print(df)

           Date   Close    Open    High     Low   Vol. Change %
0    2020-09-09  351.10  337.46  358.33  331.12  14.07    4.04%
1    2020-09-08  337.46  352.06  355.69  326.66  18.98   -4.15%
2    2020-09-07  352.06  353.49  357.33  325.47  21.69   -0.40%
3    2020-09-06  353.49  334.91  358.09  316.69  20.13    5.55%
4    2020-09-05  334.91  385.94  394.12  314.13  35.32  -13.22%
..          ...     ...     ...     ...     ...    ...      ...
759  2018-08-12  318.18  317.63  327.51  314.71   1.52    0.19%
760  2018-08-11  317.59  331.78  332.52  305.19   2.16   -4.29%
761  2018-08-10  331.81  363.33  365.36  326.67   1.74   -8.68%
762  2018-08-09  363.34  355.48  369.74  351.07   1.42    2.22%
763  2018-08-08  355.44  378.29  380.15  348.98   2.05   -6.03%

[764 rows x 7 columns]

In [51]:
df.to_csv('../data/processed_ETH_OHLCV.csv', encoding='utf-8')
# data = btfeeds.YahooFinanceCSVData(dataname='wheremydatacsvis.csv')
# print(data)